@import "color.scss";
@import "font.scss";
@import "components.scss";
@import "size.scss";
@import "bootstrap-grid.scss";
@import "../home/tools/card/card.component.scss";

img {
	width: 100%;
}

h3 {
	font-weight: 500;
	font-style: normal;
	color: #000;
	font-size: 24px;
}

.icon-star {
	font-size: 22px;
	color: $secondary-yellow;
}

.ui-carousel-dots-container {
	display: none !important;
}

.note {
	display: flex;
	width: auto;
}

.note_details {
	font-size: 18px;
	margin-left: 15px;
	margin-top: auto;
	margin-bottom: auto;
}

.note_cta {
	height: fit-content;
	margin-top: .3em;
	margin-left: 1em;
	border: 2px solid #4d91ca;
	padding: .5em .6em .4em;
	border-radius: 50%;

	&:hover {
		cursor: pointer;
	}

	& i {
		font-size: 2em;
		color: #4d91ca;
	}
}

.main-details {
	margin-bottom: 31px;
}

.section {
	margin-bottom: 50px;
}

.details_film {
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 16px;

	ul {
		margin-top: 20px;
		list-style: none;
		padding: 0px;
	}

	li {
		margin-bottom: 10px;
	}

	h3 {
		font-size: 24px;
	}

	b {
		font-weight: 700;
	}
}

.favorite {
	margin-top: 20px;
	background-color: #ffffff;
	color: black;
	font-size: 20px;
	border: 1px solid #d6d2d2;
	padding: 5px;
	width: 100%;
	font-weight: 400;
	border-radius: 20px;

	&:hover {
		background-color: $videotheque-green;
	}
}

.header-title {
	display: flex;
	margin-bottom: 15px;

	img {
		width: 50px;
		margin-right: 15px;
	}

	h3 {
		margin-top: auto;
		margin-bottom: auto;
	}
}

.synopsis {
	margin-top: 20px;
	font-size: 19px;
  text-align: justify;
}

.video-container {
	iframe {
		margin: auto;
		width: 100%;
		height: 500px;
		border: unset;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: 2px solid black;
	}
}

button.ui-carousel-prev {
	display: none !important;
}

.actor_details {
	margin-top: 10px;
	text-align: center;
}

.top {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: $size4;

	.title {
		font-weight: bold;
	}

	.icon-star {
		font-size: $size6;
		color: $secondary-yellow;
	}
}

.film-container {
	display: flex;
	background: #2f2f2e;
	color: white;
	padding: 30px 30px 30px 30px;

	.video-container {
		margin: 0 auto;
	}
}
.poster {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.username-review {
	color: $videotheque-green;
	font-weight: bold;
	cursor: pointer;
}

.title {
	font-size: $size4;
}

.overview {
	font-size: $size3;
}

.ui-carousel-dots-container.ui-helper-reset {
  display: none !important;
}

::ng-deep .listbox-created-lists {
  width: 100%;
  .ui-listbox-header {
    background: lightgrey !important;
  }

  .ui-listbox-filter-icon {
    color: $videotheque-green !important;
  }

  .ui-listbox-item.ui-state-highlight {
    background-color: $videotheque-green  !important;
  }

  .ui-chkbox-box.ui-state-active {
    background-color: $videotheque-green  !important;
    border-color: $videotheque-green !important;
  }

  .ui-inputtext:enabled:focus:not(.ui-state-error) {
    box-shadow: 0 0 0 0.2em $videotheque-green !important;
  }

  .ui-listbox-item:focus {
    box-shadow: none !important;
  }

  .ui-listbox-filter-container {
    width: 100% !important;
  }
}
