<ng-container *ngIf="filmSelected; else noData">

  <div class="top">
    <div class="title">
      {{filmSelected?.title}} ({{filmSelected?.release_date | date: 'yyyy'}})
    </div>

    <div class="rates">
      <fa-icon icon="star" class="icon-star"></fa-icon>
      {{filmSelected?.vote_average}}/10
      ({{filmSelected?.vote_count}} votes)
    </div>

    <div class="logos">
      <button (click)="addToFavorite()">mark as fav</button>
    </div>
  </div>
  <div class="film-container">
    <div class="poster">
      <img src="https://image.tmdb.org/t/p/w342/{{filmSelected?.poster_path}}">
    </div>

    <div class="right">
      <p class="title">Synopsis</p>
      <p class="overview">
        {{filmSelected?.overview}}
      </p>
      <p class="overview">Date de sortie : {{filmSelected?.release_date | date: 'longDate'}} </p>
      <p class="overview">Durée :
        <span *ngIf="filmSelected?.runtime > 60">
          {{ (filmSelected?.runtime / 60).toFixed(0) }}h{{filmSelected?.runtime % 60}} </span>
      </p>

      <p class="overview">Genres :
        <span *ngFor="let genre of filmSelected?.genres">
          {{ genre.name + ',' }}
        </span>
      </p>
      <p class="overview">Réalisateur :
        <span *ngFor="let person of director">
          <span *ngIf="person.job == 'Director'">
            {{ person.name }}
          </span>
        </span>
      </p>
    </div>
  </div>
</ng-container>

<ng-template #noData>
  <div class=" film-container">
    <div class="poster">
      <fa-icon icon="search"></fa-icon>
    </div>

    <div class="right">
      <p>
        Aucun résultat
      </p>
      <p>
        Veuillez rechercher un film
      </p>
    </div>
  </div>
</ng-template>
