<ng-container *ngIf="filmSelected; else noData">

  <div class="row">
    <div class="col-md-3">

      <img src="https://image.tmdb.org/t/p/w342/{{filmSelected?.poster_path}}" />

      <ng-container *ngIf="isFavorite; else markFav">
        <button class="favorite" (click)="addToFavorite()">Supprimer des favoris</button>
      </ng-container>
      <ng-template #markFav>
        <button class="favorite" (click)="addToFavorite()">Ajouter aux favoris</button>
      </ng-template>

      <ng-container *ngIf="isWatchlist; else markWatch">
        <button class="favorite" (click)="addToWatchlist()">Supprimer de la liste de suivi</button>
      </ng-container>
      <ng-template #markWatch>
        <button class="favorite" (click)="addToWatchlist()">Ajouter à la liste de suivi</button>
      </ng-template>

      <button class="favorite" (click)="getCreatedLists()">Ajouter à une liste</button>
      <p-dialog header="Ajouter {{filmSelected?.title}} à une de mes listes" [(visible)]="displayLists" [modal]="true"
        [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <p>
          <p-listbox [options]="createdLists" [(ngModel)]="selectedCreatedLists" [multiple]="true" [checkbox]="true"
            [filter]="true" styleClass="listbox-created-lists" [showToggleAll]="false" optionLabel="name"></p-listbox>
        </p>
        <p *ngIf="hasList && createdLists.length === 0" style="margin-top: 5px;">
          Ce film appartient déjà à toutes vos listes.
        </p>
        <p *ngIf="!hasList">
          Aucune liste.
        </p>
        <p-footer>
          <button type="button" (click)="addToCreatedList(); displayLists=false"> Valider </button>
          <button type="button" (click)="displayLists=false;"> Annuler </button>
        </p-footer>
      </p-dialog>


      <div class="details_film">
        <h3>Détails du Film</h3>
        <ul>
          <li><b>Date de sortie : </b> {{filmSelected?.release_date | date: 'yyyy'}}</li>
          <li><b>Durée : </b><span *ngIf="filmSelected?.runtime > 60">
              {{ (filmSelected?.runtime / 60).toFixed(0) }}h{{filmSelected?.runtime % 60}}</span></li>
          <li><b>Genre : </b> <span *ngFor="let genre of filmSelected?.genres">{{ genre.name + ',' }}</span></li>
          <li><b>Réalisateur : </b> <span *ngFor="let person of director"> <span
                *ngIf="person.job == 'Director'">{{ person.name }}</span></span></li>
        </ul>
      </div>

      <div class="section">
        <div class="header-title">
          <img src="/assets/images/film/trailer.png">
          <h3>Casting</h3>
        </div>

        <p-carousel [value]="actors" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true">
          <ng-template let-actor pTemplate="item">

            <img src="https://image.tmdb.org/t/p/w342{{actor?.profile_path}}" />
            <div class="actor_details">
              <b>{{actor?.name}}</b> <br>
              <b>{{actor?.character}}</b>
            </div>

          </ng-template>
        </p-carousel>

      </div>



    </div>

    <div class="col-md-8">

      <div class="main-details">
        <h1>{{filmSelected?.title}} ({{filmSelected?.release_date | date: 'yyyy'}})</h1>

        <div class="note">
          <div *ngFor="let item of [].constructor(note); let i = index">
            <fa-icon icon="star" class="icon-star"></fa-icon>
          </div>
          <span class="note_details"> {{filmSelected?.vote_average}}/10 ({{filmSelected?.vote_count}} votes) </span>
          <div class="note_cta" (click)="openDialog()">
            <i class="fa fa-star-o"></i>
          </div>
        </div>

      </div>

      <div class="section">
        <div class="header-title">
          <img src="/assets/images/film/resume.png">
          <h3>Synopsis</h3>
        </div>

        <p class="synopsis">
          {{filmSelected?.overview}}
        </p>
      </div>

      <div class="section">
        <div class="header-title">
          <img src="/assets/images/film/trailer.png">
          <h3>Bande Annonce</h3>
        </div>

        <div class="video-container" *ngIf="videos?.length > 0">
          <iframe [title]="videos[0]?.name" [src]="videos[0]?.safeUrl"></iframe>
        </div>
      </div>

      <div class="section">
        <div class="header-title">
          <img src="/assets/images/film/similar.png">
          <h3>Films Similaires</h3>
        </div>

        <p-carousel [value]="similarFilms" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
          [circular]="true" [autoplayInterval]="3000">
          <ng-template let-similarFilm pTemplate="item">
            <div *ngIf="similarFilms" class="movie-item">
              <div class="mv-img" (click)="goToFilm(similarFilm)" style="cursor: pointer;">
                <img src="https://image.tmdb.org/t/p/w342{{ similarFilm?.poster_path }}" alt="" width="285"
                  height="437">
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

      <div class="section">
        <div class="header-title">
          <img src="/assets/images/film/resume.png">
          <h3>Revues</h3>
        </div>
        <myapp-review [idFilm]="filmSelected?.id" (newReview)="getReviews()"></myapp-review>

      </div>

      <div class="section">
        <myapp-account-lists-view *ngFor="let review of reviews">
          <span image>

          </span>

          <span title>
            Par <span class="username-review" (click)="goToProfilExt(review?.id_user)">{{review?.username}}</span>
          </span>
          <span releaseDate>
            Ajouté le : {{review?.created_at | date: 'longDate'}}
          </span>

          <span overview>
            {{review?.review}}
          </span>

        </myapp-account-lists-view>
      </div>

    </div>

  </div>


</ng-container>

<ng-template #noData>
  <div class=" film-container">
    <div class="poster">
      <fa-icon icon="search"></fa-icon>
    </div>

    <div class="right">
      <p>
        Aucun résultat
      </p>
      <p>
        Veuillez rechercher un film
      </p>
    </div>
  </div>
</ng-template>
