@import "color.scss";
@import "font.scss";
@import "components.scss";
@import "size.scss";

.top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $size4;



  .title {
    font-weight: bold;

  }

  .icon-star {
    font-size: $size6;
    color: $secondary-yellow;
  }
}

.film-container {
  display: flex;
  background:#2F2F2E;
  color: white;
  padding: 30px 30px 30px 30px;

  .video-container {
    margin: 0 auto;
  }



  .poster {

  }

  .right {

    margin-left: 30px;
    display: flex;
    flex-direction: column;


    .title {
font-size: $size4;
    }

    .overview {
      font-size: $size3;
    }


  }
}
