@import "../../../../assets/scss/color.scss";
@import "../../../../assets/scss/font.scss";

:host {}

.myApp-button {
  min-width: 100px;
  color: $principal-white;

  &:disabled {
    background-color: $black !important;
    color: $principal-white !important;
    pointer-events: none; // IE...
  }

  &-size-not-fixed {
    min-width: 0 !important;
  }
}


.color {
  &-primary-dark-blue {
    background-color: $primary-dark-blue;

    &:hover {
      background-color: $primary-blue;
    }
  }

  &-primary-orange {
    background-color: $primary-orange;
    color: $black;

    &:hover {
      background-color: $secondary-orange;
      color: $black;
    }
  }

  &-secondary-green {
    background-color: $secondary-green;
    color: $black;

    &:hover {
      background-color: $button-green;
      color: $black;
    }
  }

  &-primary-light-blue {
    background-color: $primary-light-blue;
    color: $black;

    &:hover {
      background-color: $secondary-light-blue;
      color: $black;
    }
  }
}
