/* ==========================================================================
Layout size
========================================================================== */

$headerHeight: 70px;
$footerHeight: 200px;

/* ==========================================================================
Padding
========================================================================== */

$marginContent: 40px;
