<div class="top">
  <span class="title">Mes listes

    <button mat-mini-fab color="primary" (click)="openModal()">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </span>
  <span>

  </span>
</div>

<ng-container *ngIf="lists?.length > 0; else noData">

  <myapp-account-lists-view *ngFor="let list of lists">
    <span image>
      <img src="https://image.tmdb.org/t/p/w92/{{list?.poster_path}}">
    </span>

    <span title>
      {{list?.name}}
    </span>

    <span overview>
      {{list?.description}}
    </span>

    <span rating>
      ({{list?.item_count}} élément<span *ngIf="list?.item_count > 1">s</span> dans cette liste)
    </span>
  </myapp-account-lists-view>

  <span *ngIf="displayModal">
    <myapp-profil-lists-modal (hideModal)="closeModal()"></myapp-profil-lists-modal>
  </span>
</ng-container>

<ng-template #noData>
  <div class="no-data">
    Aucune liste
  </div>
</ng-template>
