<div class="top">
  <span class="title">Mes listes


  </span>
  <span>
    <button mat-mini-fab color="primary" (click)="openModal()">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </span>
</div>

<ng-container *ngIf="lists?.length > 0; else noData">

  <myapp-account-lists-view *ngFor="let list of lists">

    <span image>
      <div class="icon-container">
        <fa-icon icon="list"></fa-icon>
      </div>

    </span>

    <span title>
      {{list?.name}} &nbsp;&nbsp; ({{list?.item_count}} élément<span *ngIf="list?.item_count > 1">s</span>)
    </span>

    <span overview>
      {{list?.description}}
    </span>

    <span actions>
      <button mat-mini-fab color="warn" (click)="deleteList(list?.id)">
        <fa-icon icon="times"></fa-icon>
      </button>
    </span>
    <span actions-txt (click)="deleteList(list?.id)" style="cursor:pointer">Supprimer la liste</span>
  </myapp-account-lists-view>


</ng-container>
<span *ngIf="displayModal">
  <myapp-profil-lists-modal (hideModal)="closeModal($event)"></myapp-profil-lists-modal>
</span>
<ng-template #noData>
  <div class="no-data">
    Aucune liste
  </div>
</ng-template>
