@import "color";
@import "font";

.dialog {
  &-container {
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  &-data {
    position: relative;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $primary-white;
    color: $greyText;
    margin: 0 30px 30px 0;
    font-size: $size3;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      border: 2px solid $primary-orange;
    }
  }
}
