<div class="background-searchbar">
  <div>
    <div class="slogan">
      Bienvenue.<br />
      Des millions de <span class="green">films</span> à découvrir ou à redécouvrir...
    </div>
    <div style="width: 100%;">
      <p-autoComplete class="home-autocomplete" [(ngModel)]="filmName" [suggestions]="films"
        (completeMethod)="search($event)" field="title release_date" placeholder="Rechercher un film ..."
        [dropdown]="false" (onSelect)="onSelect($event)" [forceSelection]="true" [delay]="1000" [minLength]="3"
        [size]="120">

        <ng-template let-film pTemplate="item">
          <div id="ici" class="ui-helper-clearfix item items-container">
            <div style="width:32px;margin:5px 0 2px 5px;min-height: 48px;">
              <img *ngIf="film?.poster_path; else noImg" src="https://image.tmdb.org/t/p/w92/{{film?.poster_path}}"
                style="width:32px;" />
              <ng-template #noImg>
                <div class="noimg">
                  <fa-icon icon="film"></fa-icon>
                </div>

              </ng-template>
            </div>

            <div style=" font-size:16px;margin-left:10px">
              {{film?.title}} ({{film?.release_date | date:'yyyy'}})
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
      <fa-icon class="icon-search" icon="search"></fa-icon>
    </div>
  </div>
</div>
<div class="home-content">

  <div class="bloc-most-popular">
    <div class="bloc-left">
      <h2 class="title">Le plus populaire</h2>
      <iframe *ngIf="trailerPopularMovie" title="Trailer" [src]="trailerPopularMovie" width="100%"
        height="500"></iframe>
    </div>
    <div class="bloc-right">
      <h2 class="title">{{mostPopular?.title}}</h2>

      <myapp-card [movie]='mostPopular'></myapp-card>

    </div>
  </div>

  <div class="bloc-others">
    <div class="bloc-left">
      <h2 class="title">Films populaires</h2>
      <div class="movies-list-6">
        <myapp-card *ngFor="let movie of popular_movies" [movie]='movie'></myapp-card>
      </div>
    </div>
    <div class="bloc-right">
      <h2 class="title">Nouveauté du jour</h2>
      <myapp-card [movie]='dayTrending'></myapp-card>
    </div>
  </div>

  <div class="bloc-others">
    <div class="bloc-left">
      <h2 class="title">Mieux notés</h2>
      <div class="movies-list-6">
        <myapp-card *ngFor="let movie of top_rated_movies" [movie]='movie'></myapp-card>
      </div>

    </div>
    <div class="bloc-right">
      <h2 class="title">Le plus voté</h2>
      <myapp-card [movie]='mostRated'></myapp-card>
    </div>

  </div>

  <div class="bloc-others">
    <div class="bloc-w100">
      <h2 class="title">Actuellement au cinéma</h2>
      <div class="movies-list-4">
        <myapp-card *ngFor="let movie of latest_movies" [movie]='movie'></myapp-card>
      </div>
    </div>
  </div>
  <div class="bloc-others">
    <div class="bloc-w100">
      <h2 class="title">Films a venir</h2>
      <div class="movies-list-4">
        <myapp-card *ngFor="let movie of upcoming_movies" [movie]='movie'></myapp-card>
      </div>
    </div>
  </div>
</div>
