@import "../../../assets/scss/color.scss";
@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/components.scss";
@import "../../../assets/scss/size.scss";

.home {
  &-title {
    font-size: $size3;
    font-weight: bold;
  }

  &-content {
    position: relative;

    .content {
      &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 20px 2%;

        .button-add {
          position: absolute;
          top: 20px;
          right: 2%;
          z-index: 1;
        }
      }
    }
  }
}

.sidenav {
  position: absolute;
  top: 10%;
  height: 170px;
  width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $principal-white;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  &-toggle {
    $radius: 8px;

    &-1 {
      right: 0;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }

    &-2 {
      left: 0;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  &-primary-dark-blue {
    background-color: $primary-dark-blue;

    &:hover {
      background-color: $primary-blue;
    }
  }

  &-secondary-green {
    background-color: $secondary-green;

    &:hover {
      background-color: $button-green;
    }
  }
}
