@import "color.scss";
@import "font.scss";

.listsview {

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin: 20px;
  background-color: $white;

  &-body {
    width: 100%;
    display: flex;

    .listsview-image {
      height: 230px;

      img {
        height: 100%;
      }
    }

    .right {
      margin: 10px 20px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .title {
        font-weight: bold;
        font-size: $size4;
      }

      .realeaseDate {
        font-style: italic;
        color: grey;
      }

      .overview {
        padding-top: 2px;
        text-align: justify;
        font-size: $size2;
      }

      .rating {
        font-weight: normal;
        font-size: $size4;
        color: $secondary-yellow;
        margin-left: 10px;
      }

      .average {
        font-weight: normal;
        font-size: $size4;
        color: $videotheque-green;
        margin-left: 10px;
      }
    }
  }

  &-footer {
    padding-top: 5px;

    .actions {
     // background: lightgray;
      margin: 0 -20px;
      padding: 5px 20px 10px 20px;
      .txt {
        margin-left: 5px;
        font-size: $size2;
      }
    }

    hr {
      margin-bottom: 0.5rem;
    }
  }
}
