<div class="listsview">
  <div class="listsview-title">
    <ng-content select="[image]"></ng-content>
  </div>

  <div class="listsview-body">

    <div class="listsview-title">
      <ng-content select="[title]"></ng-content>
      <fa-icon icon="star" class="icon-star"></fa-icon>
      <ng-content select="[rating]"></ng-content>
    </div>
    <div class="listsview-releaseDate">
      <ng-content select="[releaseDate]"></ng-content>
    </div>
    <div class="listsview-overview">
      <ng-content select="[overview]"></ng-content>
    </div>

    <div class="listsview-rating">

    </div>

  </div>
</div>
