<div class="header">
  <a routerLink="/">
    <div class="header-title">
      <img class="title-logo" alt="Logo" src="../../../assets/images/logo_ubordeaux.png" />
    </div>
  </a>
  <div *ngIf="isAuthenticated()">
    <p-autoComplete #auto class="autocomplete" [(ngModel)]="filmName" [suggestions]="films"
      (completeMethod)="search($event)" field="title release_date" placeholder="Rechercher un film ..."
      (onSelect)="onSelect($event)" [forceSelection]="true" [delay]="1000" [minLength]="3" [size]="60">

      <ng-template let-film pTemplate="item">
        <div class="ui-helper-clearfix item items-container">
          <div style="width:32px;margin:5px 0 2px 5px;min-height: 48px;">
            <img *ngIf="film?.poster_path" src="https://image.tmdb.org/t/p/w92/{{film?.poster_path}}"
              style="width:32px;" />
          </div>

          <div style=" font-size:16px;margin-left:10px">
            {{film?.title}} ({{film?.release_date | date:'yyyy'}})
          </div>
        </div>
      </ng-template>

    </p-autoComplete>
  </div>
  <div *ngIf="isAuthenticated()">
    <ul class="nav nav-pills menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
  </div>
</div>
