<div class="header">
  <a routerLink="/">
    <div class="header-title">
      <img class="title-logo" alt="Logo" src="../../../assets/images/logo_ubordeaux.png" />
    </div>
  </a>
  <div *ngIf="isAuthenticated()">
    <ul class="nav nav-pills menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
      </li>

      <!--<li class="nav-item">
        <a class="nav-link" (click)="logout()">Déconnexion</a>
      </li>-->
    </ul>
  </div>
</div>
