@import "color.scss";
@import "font.scss";
@import "size.scss";

:host {}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  padding-right: 10px;
  background-color: $footer-color;

  &-title {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none !important;

    &:hover {
      color: $primary-blue;
      cursor: pointer;
    }
  }

  .autocomplete {
    //width: 300px;
  }
}

.title {
  &-logo {
    height: $headerHeight;
  }

  &-text {
    font-size: $size3;
    font-weight: 800;
    color: $principal-blue;
  }
}

.menu {
  font-size: $size3;
}

#dropdown {
  cursor: pointer;

  &::after {
    content: none;
  }
}

.dropdown-item {
  height: 40px;
  cursor: pointer;
}

.nav-link {
  color: $white;

  &:hover {
    color: $white;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: $primary-blue;
  background-color: transparent;
}

.active {
  background-color: $primary-dark-blue !important;
  color: $principal-white !important;

}

.active-submenu:focus {
  outline: none !important;
}

.items-container {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 16px;
  margin-bottom: 8px;
  font-style: italic;
  font-weight: bold;
}

.noimg {
  width: 32px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
