@import "color.scss";
@import "font.scss";
@import "components.scss";
@import "size.scss";

.profil-container {
  font-size: $size6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px;
  margin: -40px (-$marginContent) 0 (-$marginContent);
  background-color: lightgray;
  background: url(../../../assets/images/test.jpg) center center no-repeat;
  background-size: cover;
  height: 200px;
  color: whitesmoke;

  .username {
    margin-left: 20px;
    font-weight: 400;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;

  .title {
    font-size: $size6;
    font-weight: bold;
  }

  .tri-title {
    font-size: $size3;
  }
  .tri {
    color: $videotheque-green;
    font-size: $size3;
  }

}


.statistics {
  display: flex;
  font-size: $size6;
  margin: 20px 20px;

  .card {
    width: 50%;
    text-align: center;
  }

  .middle {
    margin: 0 10px;
  }

  .label {
    font-weight: 400;
  }

  .value {
    color: $videotheque-green;
    font-size: 80px;
  }
}

.tabs-container {
  margin-top: 30px;
}

.link {
  font-weight: 400;
  &:hover {
    color: $videotheque-green;
    cursor: pointer;
  }
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-weight: bold;
  font-size: $size5;
  margin: 50px 0;
}
