<div class="profil-container">

  <img src="https://secure.gravatar.com/avatar/{{account?.avatar.gravatar.hash}}">
  <span class="username">
    {{account?.username}}</span>
</div>

<mat-tab-group #tabGroup mat-stretch-tabs (selectedTabChange)="selectedTabChange($event)">
  <mat-tab label="Profil">
    <div class="tabs-container">

      <div class="top">
        <span class="title">Statistiques</span>
        <span>
        </span>
      </div>
      <div class="statistics">

        <div class="card"><span class="label">Notes totales</span>
          <span class="value">{{statistics?.get('ratings')}}</span>
        </div>

        <div class="card"><span class="label">Favoris</span>
          <span class="value">{{statistics?.get('favorites')}}</span>
        </div>

        <!-- <div class="card"><span class="label">Notes totales :</span>
        <span class="value">{{statistics?.get('ratings')}}</span>
      </div>

      <div class="card"><span class="label">Favoris totales :</span>
        <span class="value">{{statistics?.get('ratings')}}</span>
      </div> -->
      </div>

      <div class="top">
        <span class="title">Reviews</span>

      </div>
    </div>

  </mat-tab>

  <mat-tab label="Notes">
    <div class="tabs-container">
      <myapp-profil-ratings [ratings]="ratings"></myapp-profil-ratings>
    </div>
  </mat-tab>
  <mat-tab label="Favoris">
    <div class="tabs-container">
      <myapp-profil-favorite [favorites]="favorites"></myapp-profil-favorite>
    </div>
  </mat-tab>
  <mat-tab label="Listes">
    <div class="tabs-container">
      <myapp-profil-lists [lists]="lists"></myapp-profil-lists>
    </div>
  </mat-tab>
  <mat-tab label="Suivi">
    <div class="tabs-container">
      <myapp-profil-watchlist [watchlist]="watchlist"></myapp-profil-watchlist>
    </div>
  </mat-tab>
</mat-tab-group>
