@import "color.scss";
@import "font.scss";
@import "components.scss";
@import "size.scss";

.profil-container {
  font-size: $size6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px;
  margin: -40px (-$marginContent) 0 (-$marginContent);
  background-color: lightgray;


  .username {
    margin-left: 20px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;

  .title {
    font-size: $size6;
    font-weight: bold;
  }

  .tri-title {
    font-size: $size3;
  }
  .tri {
    color: $videotheque-green;
    font-size: $size3;
  }

}


.statistics {
  display: flex;
  font-size: $size6;
  margin: 20px 0;

  .card {
    width: 50%;
    text-align: center;
    font-weight: bold;
  }

  .label {

  }

  .value {
    color: $videotheque-green;
    font-size: 80px;
  }
}

.tabs-container {
  margin-top: 30px;
}
