<div class="profil-container">

  <img src="https://secure.gravatar.com/avatar/64f071a7a50cce9979f66e23ee21ae9d">
  <span class="username">{{username}}</span>
</div>

<div class="top">
  <span class="title">Revues ({{reviews?.length}})</span>
  <span>

  </span>
</div>
<div>

  <myapp-account-lists-view *ngFor="let review of reviews">
    <span image>
      <img (click)="goToFilm(review?.id)" src="https://image.tmdb.org/t/p/w154/{{review?.details_film?.poster_path}}"
        style="cursor: pointer; height: 100%;">
    </span>

    <span title (click)="goToFilm(review?.id)" class="link">
      {{review?.details_film?.title}}
    </span>
    <span releaseDate>
      Sorti le : {{review?.details_film?.release_date | date: 'longDate'}}
    </span>

    <span overview>
      {{review?.review}}
    </span>

  </myapp-account-lists-view>
</div>

<div class="top">
  <span class="title">Listes ({{lists?.length}})</span>
  <span>

  </span>
</div>

<ng-container *ngIf="lists?.length > 0; else noData">
  <myapp-account-lists-view *ngFor="let list of lists">

    <span image>
      <div class="icon-container">
        <fa-icon icon="list"></fa-icon>
      </div>

    </span>

    <span title>
      {{list?.name}} &nbsp;&nbsp; ({{list?.item_count}} élément<span *ngIf="list?.item_count > 1">s</span>)
    </span>

    <span overview>
      {{list?.description}}
    </span>

  </myapp-account-lists-view>

</ng-container>
<ng-template #noData>
  <div class="no-data">
    Aucune liste
  </div>
</ng-template>
