@import "color.scss";
@import "font.scss";
@import "components.scss";
@import "size.scss";

.profil-container {
  font-size: $size6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 40px 0 40px;
  margin: -40px -40px 0 -40px;
  padding-bottom: 50px;
  background-color: lightgray;


  .username {
    margin-left: 20px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;

  .title {
    font-size: $size6;
    font-weight: bold;
  }

  .tri-title {
    font-size: $size3;
  }
  .tri {
    color: $videotheque-green;
    font-size: $size3;
  }

}

.icon-container {
  height: 100%;
  width: 153px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  background-color: lightslategrey;
  color: $white;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-weight: bold;
  font-size: $size5;
}
