<h1 mat-dialog-title>Noter ce film</h1>
<div mat-dialog-content>
  <p-rating [(ngModel)]="rate" stars="10" [cancel]="false" (onRate)="onRate($event)"></p-rating>
</div>


<!-- <fieldset class="rate">
  <label for="rating19" title="10 star"></label>
  <input type="radio" id="rating19" name="rating" value="10" (change)="onChange($event.target.value)" />

  <label for="rating17" title="9 star"></label>
  <input type="radio" id="rating17" name="rating" value="9" (change)="onChange($event.target.value)" />

  <label for="rating15" title="8 star"></label>
  <input type="radio" id="rating15" name="rating" value="8" (change)="onChange($event.target.value)" />

  <label for="rating13" title="7 star"></label>
  <input type="radio" id="rating13" name="rating" value="7" (change)="onChange($event.target.value)" />

  <label for="rating11" title="6 star"></label>
  <input type="radio" id="rating11" name="rating" value="6" (change)="onChange($event.target.value)" />

  <label for="rating9" title="5 étoiles"></label>
  <input type="radio" id="rating9" name="rating" value="5" (change)="onChange($event.target.value)" />

  <label for="rating7" title="4 étoiles"></label>
  <input type="radio" id="rating7" name="rating" value="4" (change)="onChange($event.target.value)" />

  <label for="rating5" title="3 étoiles"></label>
  <input type="radio" id="rating5" name="rating" value="3" (change)="onChange($event.target.value)" />

  <label for="rating3" title="2 étoiles"></label>
  <input type="radio" id="rating3" name="rating" value="2" (change)="onChange($event.target.value)" />

  <label for="rating1" title="1 star"></label>
  <input type="radio" id="rating1" name="rating" value="1" (change)="onChange($event.target.value)" />

</fieldset> -->
