@import "color.scss";
@import "font.scss";
@import "components.scss";
@import "size.scss";

.login {
  &-card {
    width: 400px;
    min-height: 300px;
    max-height: 360px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &-form {
    height: 100%;

    .mat-form-field {
      width: 100%;
    }
  }

  &-actions {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .login {
    &-card {
      width: 250px;
      min-height: 350px;
      max-height: 500px;
    }
  }
}
