<mat-card class="login-card">
  <form class="login-form" [formGroup]="form" (ngSubmit)="login()" #f="ngForm">
    <mat-card-content>
      <div>
        <h2>{{'APP.NAME' | translate}}</h2>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="username">
          <mat-placeholder>
            <fa-icon icon="user-circle"></fa-icon>
            <span> {{'LOGIN.FORM.LOGIN_PLACEHOLDER' | translate}}</span>
          </mat-placeholder>
          <mat-error *ngIf="f.submitted && form.controls['username']?.errors?.required">
            {{'LOGIN.FORM.ERROR.LOGIN_REQUIRED' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" [type]="passwordVisibility ?  'text' : 'password'">
          <mat-placeholder>
            <fa-icon icon="lock"></fa-icon>
            <span> {{'LOGIN.FORM.PASSWORD_PLACEHOLDER' | translate}}</span>
          </mat-placeholder>
          <fa-icon class="pointer hover" matSuffix (click)="changePasswordVisibility()"
            [icon]="passwordVisibility ? 'eye-slash' : 'eye'">
          </fa-icon>
          <mat-error *ngIf="f.submitted && form.controls['password']?.errors?.required">
            {{'LOGIN.FORM.ERROR.PASSWORD_REQUIRED' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login-actions">
        <button color="primary" type="submit" mat-raised-button>
          {{'LOGIN.FORM.LOGIN_BUTTON' | translate}}</button>
        <input id="rememberMe" type="checkbox" formControlName="rememberMe" class="margin-left10 margin-right10" />
        <label for="rememberMe"> {{'LOGIN.FORM.REMEMBER_ME_PLACEHOLDER' | translate}}</label>
      </div>
    </mat-card-content>
  </form>
</mat-card>
