<div class="top">
  <span class="title">Mes notes ({{ratings?.length}})</span>
  <span>
    <span class="tri-title">Trier par : </span><span class="tri">Date de notation </span>

    <span *ngIf="selectedOrder === 'desc'" (click)="onChange('asc')">
      <fa-icon icon="arrow-down"></fa-icon>
    </span>
    <span *ngIf="selectedOrder === 'asc'" (click)="onChange('desc')">
      <fa-icon icon="arrow-up"></fa-icon>
    </span>
  </span>
</div>

<ng-container *ngIf="ratings?.length > 0; else noData">
  <myapp-account-lists-view *ngFor="let rate of ratings">
    <span image>
      <img (click)="goToFilm(rate?.id)" src="https://image.tmdb.org/t/p/w154/{{rate?.poster_path}}"
        style="cursor: pointer; height: 100%;">
    </span>

    <span title (click)="goToFilm(rate?.id)" class="link">
      {{rate?.title}}
    </span>
    <span releaseDate>
      Sorti le : {{rate?.release_date | date: 'longDate'}}
    </span>

    <span overview>
      {{rate?.overview}}
    </span>

    <span rating matTooltip="Ma note /10" matTooltipPosition='right'>
      <fa-icon icon="star" class="icon-star"></fa-icon>
      {{rate?.rating}}
    </span>

    <span average matTooltip="Note moyenne des utilisateurs /10" matTooltipPosition='right'>
      <fa-icon icon="star" class="icon-star"></fa-icon>
      {{rate?.vote_average}}
    </span>

    <span actions>
      <button mat-mini-fab color="warn" (click)="deleteRate(rate?.id)">
        <fa-icon icon="times"></fa-icon>
      </button>
    </span>
    <span actions-txt (click)="deleteRate(rate?.id)" style="cursor:pointer">Retirer la note</span>
  </myapp-account-lists-view>

</ng-container>

<ng-template #noData>
  <div class="no-data">
    Aucune note
  </div>
</ng-template>
