<div class="top">
  <span class="title">Mes suivis ({{watchlist?.length}})</span>
  <span>
    <span class="tri-title">Trier par : </span><span class="tri">Date d'ajout </span>

    <span *ngIf="selectedOrder === 'desc'" (click)="onChange('asc')">
      <fa-icon icon="arrow-down"></fa-icon>
    </span>
    <span *ngIf="selectedOrder === 'asc'" (click)="onChange('desc')">
      <fa-icon icon="arrow-up"></fa-icon>
    </span>
  </span>
</div>

<ng-container *ngIf="watchlist?.length > 0; else noData">

  <myapp-account-lists-view *ngFor="let element of watchlist">
    <span image>
      <img (click)="goToFilm(element?.id)" src="https://image.tmdb.org/t/p/w154/{{element?.poster_path}}"
        style="cursor: pointer; height: 100%;">
    </span>

    <span title (click)="goToFilm(element?.id)" class="link">
      {{element?.title}}
    </span>
    <span releaseDate>
      Sorti le : {{element?.release_date | date: 'longDate'}}
    </span>

    <span overview>
      {{element?.overview}}
    </span>

    <span actions>
      <button mat-mini-fab color="warn" (click)="editWatchlist(element?.id)">
        <fa-icon icon="bookmark"></fa-icon>
      </button>
    </span>
    <span actions-txt (click)="editWatchlist(element?.id)" style="cursor:pointer">Retirer de la liste</span>

  </myapp-account-lists-view>
</ng-container>

<ng-template #noData>
  <div class="no-data">
    Aucun film suivi
  </div>
</ng-template>
