@import "color.scss";
@import "font.scss";

.container-form-error {
  position: absolute;
  display: inline;
  color: $primary-red;
  font-size: $size2;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 2px;
  cursor: pointer;
}

::ng-deep .form-error-tooltip {
  color: $principal-white;
  background-color: $primary-red;
  font-size: $size0;
  font-weight: bold;
}

.z-index {
  z-index: 9999;
}
