@import 'color.scss';
@import 'font.scss';

.error {
  &-field {
    position: absolute;
    color: $primary-red;
    font-size: $size1;
    font-weight: bold;
    width: auto;
  }

  &-button {
    color: $primary-red;
    display: inline;
    font-size: $size1;
    font-weight: bold;
  }
}

::ng-deep .error-field {
  // width: 300px !important;
}
