@import "color";
@import "font";
@import "size";

.footer {
  &-container {
    height: $footerHeight;
    position: relative;
    width: 100%;
    background: $footer-color;
    color: $white;
  }
}
