@import "color.scss";
@import "font.scss";
@import "size.scss";

.footer {
  &-container {
    height: $footerHeight;
    position: relative;
    width: 100%;
    background: $footer-color;
    color: $white;
  }
}
