.ion, .ion-android-star:before, .ion-images:before, .ion-link:before, .ion-star:before {
  display: inline-block;
  font-family: Ionicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-android-star:before {
  content: "\f2fc";
}

.ion-images:before {
  content: "\f148";
}

.ion-link:before {
  content: "\f1fe";
}

.ion-star:before {
  content: "\f24e";
}

img {
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.movie-item {
  position: relative;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;

  .mv-img {
    position: relative;

    &:after {
      box-shadow: inset -5px -50px 100px -15px #000;
      -webkit-box-shadow: inset -5px -50px 100px -15px #000;
      -moz-box-shadow: inset -5px -50px 100px -15px #000;
      -o-box-shadow: inset -5px -50px 100px -15px #000;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  img {
    width: 100%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .title-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  //  margin-left: 30px;
    //margin-bottom: 20px;
    bottom: -4px;
    left: 1px;
    position: absolute;

    h6 {
      font-family: Dosis, sans-serif;
      font-size: 21px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }

    span {
      font-size: 12px;
      color: #fff;

      i {
        color: #f5b50a;
        font-size: 22px;
      }

      span {
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .movie-items .movie-item {
    display: inherit;
    margin-right: 0;
  }
}

.cate {
  margin-bottom: 15px;

  span {
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    a {
      font-family: Dosis, sans-serif;
      font-size: 12px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .blue {
    background-color: orangered;
  }
}

.movie-item-style-2 {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 30px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}

.movie-item-style-1 {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  width: 170px;
  position: relative;
  margin-right: 23px;

  img {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.style-3 {
  width: 160px;
}

.movie-item {
  a {
    text-decoration: unset;
  }

  h6 {
    margin: 1px;
    font-size: 16px;
  }

  p {
    margin-top: 0px;
  }
}

.star {
  color: #f5b50a;
  font-size: 15px;
}
